/* Variables */

:root {
    --bs-primary: #ffc107;
    --bs-primary-rgb: 255,193,7;
}


/* General Defaults */

html {
    scroll-behavior: smooth;
}

body {
}

main {
}


/* Backgrounds */


/* Layouts */


/* Elements */

#home-hero {
    min-height: 50svh;
}


/* Header and Footer */

footer {
    margin-top: auto;
}
